name: Build
on:
  push:
    branches:
      - master
      - branch-*
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * *'  # Run at 2PM UTC everyday

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: sonar-s-public
    name: Build, JUnit and SonarQube
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: 2025.7.12
          mise_toml: |
            [tools]
            yarn= "3.6.3"
            node = "18"
            java = "temurin-21"
      - uses: SonarSource/ci-github-actions/build-gradle@148774f456203f228b7bd1bd68ed0c22254d9cd1 # v1.3.24
        with:
          deploy: false
          artifactory-reader-role: private-reader
          artifactory-deployer-role: qa-deployer
          sonar-platform: next
          run-shadow-scans: true
          gradle-args: "jacocoTestReport -Dsonar.projectKey=sonarqube -Dsonar.organization=sonarsource -Dsonar.exclusions=**/design-system/theme/**,**/legacy-design-system/**"
